/* src/styles/fonts.css */

/* LATO REGULAR */
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.woff2') format('woff2'); /* 👈 Ruta absoluta desde la raíz */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* LATO BOLD */
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ROBOTO CONDENSED BOLD */
@font-face {
  font-family: 'Roboto Condensed';
  src: url('/fonts/RobotoCondensed-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* PARISIENNE REGULAR */
@font-face {
  font-family: 'Parisienne';
  src: url('/fonts/Parisienne-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}