/* src/layouts/MainLayout.module.css */
.layoutWrapper {
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  min-height: 100vh;
  width: 100%;
}

/* CASO 1: Si NO es transparente, la primera fila mide 70px (lo que mide tu Navbar) */
.layoutNormal {
  grid-template-rows: 70px 1fr auto;
}

/* CASO 2: Si SÍ es transparente, la primera fila mide 0px para que el main suba al píxel 0 */
.layoutTransparent {
  grid-template-rows: 0px 1fr auto;
}

.header {
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: var(--z-header);
}

.mainContent {
  grid-area: main;
  width: 100%;
  min-height: 100vh; 
}

.footerArea {
  grid-area: footer;
  width: 100%;
}

@media (max-width: 1024px) {
  /* En móviles/tablets forzamos a que siempre empuje para evitar bugs de solapamiento */
  .layoutNormal, .layoutTransparent {
    grid-template-rows: auto 1fr auto; 
  }
  
  .header {
    position: sticky; 
  }
}